.feed {
  display: grid;
  padding: 50px 0 100px 0;

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .persons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 20px;

    article {
      display: grid;
      text-align: center;
      border-radius: 10px;
      box-shadow:
        0 4px 8px 0 var(--shadow2),
        0 6px 20px 0 var(--shadow19);

      img {
        border-radius: 10px 10px 0 0;
        width: 300px;
        height: 300px;
      }

      span {
        display: grid;
        gap: 5px;
        padding: 25px 0;

        button {
          width: 80%;
          margin: 5px auto;
          padding: 3px 10px;
          color: white;
          font-size: 18px;
          font-weight: 700;
          border-radius: 25px;
          background-color: var(--green);
        }
      }
    }
  }
}

/* Feed.css */
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
}
.modal-content {
  color: var(--green);
  background: #fff;
  padding: 100px;
  border-radius: 8px;
  width: 80vw;
  max-width: 900px;
  height: 400px;
  min-width: 300px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback {
  font-size: 100px;
  color: #2e7d32;
  text-align: center;
  margin-top: 2rem;
}
.booking-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: var(--green);
    text-align: left;

    select, input, textarea {
      margin-top: 8px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }
  }

  button {
    align-self: center;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #388e3c; /* Darker green on hover */
    }
  }
}
