* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --black: #242424;
  --green: #386641;
  --pink: #ffe5d9;
  --shadow2: rgba(0, 0, 0, 0.2);
  --shadow19: rgba(0, 0, 0, 0.19);
  --monserrat: "Montserrat Variable", sans-serif;
}

body {
  font-family: var(--monserrat);
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li {
  color: inherit;
}
